.profile {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0; 
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 74px auto 70px;
    padding: 0;
}

.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) {
    .profile__inputs {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 64px auto 0;
        padding: 0;
        border-bottom: 1px solid #424242;
    }

    .profile__inputs:nth-of-type(2) {
        margin: 0 auto;
        border-bottom: none;
    }
}

@media screen and (min-width: 768px) {
    .profile__inputs {
        margin: 80px auto 0;
    }
}

@media screen and (min-width: 320px) {
    .profile__input-name {
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        margin: 0;
        padding: 16px 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    .profile__input-name {
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (min-width: 320px) {
    .profile__input {
        width: 228px;
        margin: 0;
        padding: 16px 0;
        background-color: transparent;
        border: none;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
    }
}

@media screen and (min-width: 768px) {
    .profile__input {
        width: 410px;
    }
}

.profile__input:focus {
    outline: none;
}

@media screen and (min-width: 320px) {
    .profile__buttons {
        margin: 362px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .profile__buttons {
        margin: 193px auto 0;
    }
}

.profile__button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.profile__button:last-of-type {
    margin: 16px 0 0 0;
}

.profile__button_edit {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    /* opacity: 1;
    transition: opacity .5s ease-out; */
}

.profile__button_edit:hover {
    /* opacity: .6; */
    cursor: pointer;
}

.profile__button_signout {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.profile__button_signout:hover {
    opacity: .6;
    cursor: pointer;
}

.profile__button_disabled {
    opacity: .1;
    color: #C2C2C2;
}

.profile__button_disabled:hover {
    cursor: not-allowed;
}

.profile__error {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;  
    color: #EE3465;
}