.logo {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
}

.logo__container {
    display: flex;
    max-width: 38px;
    max-height: 38px;
    margin: 0;
    padding: 0;
}

.logo__container:hover {
    cursor: pointer;
}